h1 {
    font-size: 32px;
}

h1,
h2,
h3 {
    font-family: "Arial, sans-serif";
    margin: top 1.5em;
}

body {
    width: 70%;
    margin: 0 auto;
}

table,
th,
td {
    border: 1px solid black;
}

figcaption {
    font-style: italic;
}

figure {
    float: right;
    margin: 0 7px 7px 7px;
}